Repository Kgeek33/NSI_Terminale, pull requests merged in 2025-06, with the labels that each got.

#186 Mon Bac Blanc
  Entrainement Pratique/Bac Blanc/Kylian/Sujet.py
Labels: Epreuves_pratiques

#189 gain_max_naif
  Programmation Dynamique/pyramide.py
Labels: Programmation_Dynamique

#190 Skyniraph
  TD Capytale/Graphes/Kgeek33.py
Labels: TD_Capytale

#192 sDFFGN
  Programmation Dynamique/pyramide.py
Labels: Programmation_Dynamique

#194 Lascar/Gartin59
  Entrainement Pratique/Bac Blanc/Florent/Sujet.py
Labels: Epreuves_pratiques
